.loginOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm {
  background: linear-gradient(to bottom, #97D8F5 0%, #97D8F5 50%, #97D8F5 100%);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 1rem;
  margin-top: 0px;
}
.closeButton {
  display: flex;
  justify-content: right;
  position: relative;
  border-radius: 25px;
  font-weight: bold;
  border-width: 0px;
  font-size: 20px;
  margin: -0.5rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header img {
  width: 200px;
  height: auto;
}

.inputGroup {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.inputGroup input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.rememberForget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 15px;
}

.loginButton {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 0.8rem;
  background-color: #0046AF;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
}

.divider {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}

.divider span {
  background-color: #97D8F5;
  color: #595757;
  font-size: 13px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.socialLogin {
  display: flex;
  justify-content: space-between;
}

.googleButton,
.facebookButton {
  width: 48%;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButton img,
.facebookButton img {
  margin-right: 0.5rem;
}

.signupPrompt {
  text-align: center;
  margin-top: 1rem;
  font-size: 13px;
}

.signupPrompt p {
  color: #595757; 
}

.signupLink {
  color: #F74E4E; 
}