
.companies-list-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: -50px; 
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), 
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  }
  
  .logo-container {
    display: flex;
    align-items: center; /* Center logo and search bar vertically */
    margin-bottom: 15px; /* Space below the logo and search bar */
  }
  
  .logo {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; /* Space between logo and search bar */
    background-color: #0066cc; /* Optional */
    border-radius: 50px; /* Optional */
    padding: 10px; /* Optional */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    flex-grow: 1; /* Allow search bar to grow */
    max-width: 10500px; /* Set maximum width */
    width: 100%; /* Make search bar full width of the container */
    margin-left: 10px; /* Optional: space between logo and search bar */
    margin-top:10px;
  }
  
  .search-bar input {
    flex-grow: 1;
    border: none;
    background: transparent;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
  }
  
  .header h3 {
    border: 2px solid #007bff; 
    background-color: #007bff; 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    text-align:left; 
  }
  .companies-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .company-item {
    margin: 10px;
    text-align: center;
  }
  
  .company-item img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px; /* Optional: rounded corners */
  }
  
  