/* src/components/HomeCarousel/HomeCarousel.css */
.carousel-container {
  /* Add your carousel styling here */
  width: 100%;
  max-width: 1000px; /* Set your desired max width */
  margin: 0 auto; /* Center carousel */
}

.slick-list {
  margin: 0; /* Ensure no extra margin */
  padding: 0; /* Remove default padding if any */
  overflow: hidden; /* Ensure content stays inside */
}

.slick-track {
  display: flex !important; /* Ensure flex layout */
  align-items: center; /* Align items if needed */
}

.slick-slide {
  padding-left: 0px; /* Add gap between slides */
  box-sizing: border-box; /* Ensure padding is included in the width */
  transition: transform 0.5s ease, width 0.5s ease; /* Smooth transition effect */
}

.slick-slide.slick-center {
  transform: scale(0.70); /* Enlarge the centered slide */
  /*width: 40% !important;*/
}

.slick-slide:not(.slick-center) {
  transform: scale(0.95); /* Make other slides smaller */
  /*width: 80% !important;*/
}

.HomeImages {
  border: 5px solid white;
  border-radius: 10px;
  height: 360px;
  width: 100%; /* Ensure the image takes full width of the slide */
  object-fit: cover; /* Adjust as needed for proper image fitting */
}

.slick-prev,
.slick-next {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  border-radius: 50%; /* Circular buttons */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure buttons are above carousel */
  font-size: 24px; /* Increase font size for arrows */
  /* Add positioning if needed */
}

.slick-prev {
  left: -45px !important; /* Position from left */
}

.slick-next {
  right: 10px; /* Position from right */
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 45px !important; /* Increase size of arrow icon */
  color: white; /* Arrow color */
}