.HomeContainer {
  background-image: url('/public/images/HomeBackground.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row; /* Ensure left and right sides are side by side */
  padding: 20px;
}

.leftSide {
  background-color: rgba(0, 0, 0, 0); /* Distinguishing background */

  width: 55%;
  border-radius: 10px; /* Optional: rounded corners */
}

.rightSide {
  background-color: rgba(255, 255, 255, 0); /* Distinguishing background */
  padding: 0px;
  margin-right: 150px;
  width: 45%;
  border-radius: 10px; /* Optional: rounded corners */
  display: flex;
  align-items: center; /* Center carousel vertically */
  justify-content: center; /* Center carousel horizontally */
}

.TextWithSquare {
  display: flex;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20px;
}

#square {
  background-color: #FFFFFF;
  height: 200px;
  width: 10px;
  margin-right: 20px;
  margin-left: 5vw;
  margin-bottom: 8vh;
}

.HomeText {
  font-family: 'Open Sans', sans-serif;
}

#F1 {
  color: #FFFCFC;
  margin: 0;
  font-size: 88px;
  font-weight: 800;
}

#F2 {
  color: #97D8F5;
  margin: 0;
  font-size: 88px;
  font-weight: 800;
}

#F3 {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.BookNow {
  display: flex;
  margin-left: 6.8vw;
  font-family: 'Open Sans', sans-serif;
}

#BookNowButton {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #91F2FF 0%, #C8F8FF 50%, #91F2FF 100%);
  color: #0866FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#arrow {
  padding-left: 3%;
}

#BookNowButton:hover {
  background-color: #ddd;
}

/* POPULAR CONTAINER!!! */

.PopularContainer {
  display: flex;
  flex-direction: column;
  background-color: #D5EEF9;
  height: 200vh; /* Adjust based on your layout */
  width: 100vw; /* Adjust based on your layout */
}

.HeaderText {
  margin-left: 15vw;
  margin-top: 15vh;
}

.PopularCarouselDiv{
}

#PopHead{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #002B6C;
  margin-bottom: 0px;

}

#PopSub{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  color: #001637;
  opacity: 80%;
  margin-top: 10px;
}