.ferry-selection {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .logo {
    width: 30px; 
    height: 30px; 
    margin-right: 10px;
    background-color: #0066cc;
    border-radius: 50px;
    padding:10px;
  }
  
  
  h2 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .ferry-card {
    display: flex;
    background-color: #CFE2FE;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ferry-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .ferry-details {
    padding: 15px;
    flex-grow: 1;
  }
  
  h3 {
    color: #0066cc;
    margin-top: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .ratings {
    color: #ffa500;
  }
  
  .price {
    font-weight: bold;
    color: #009900;
  }
  
  .select-button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s;
  }
  
  .select-button:hover {
    background-color: #0099cc;
  }
  